* {
  // font-family: Proxima Nova;
  font-family: GT Walsheim Pro;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}
.cursor-pointer{
    cursor: pointer;
}
.landing {
  margin-top: 90px;
  .hastle-left {
    background: url("../../images/backgrounds/dotted-arrow.jpg");
    width: 100%;
    // height: 100%;
    height: 449px;
  }

  .hastle-right {
    h1 {
      font-style: normal;
      // font-weight: bold;
      font-size: 48px;
      line-height: 55px;
      /* or 115% */

      letter-spacing: -1.5px;

      /* Text/dark */

      color: #303030;
    }
  }
}

#howToBuy {
  // background: $blackPerl;
  background: $blackPerl url("../../images/backgrounds/DarkBg.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 990px;
  .card{
      opacity: 0.8;
      transition: opacity 0.3s;
      -webkit-transition: opacity 0.3s;
  }
  .active{
      opacity: 1;
  }
}


#checkoutProcess{
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 500px;
}

#shopping{
    background: $yellow;
    // min-height: 500px;
    .left-image{
        margin-left: -100px;
        margin-top: 100px;
    } 
}

#slider{
  min-height: 80vh;
  // margin-top: 100px;
  background: #F9F9FC url("../../images/backgrounds/CarouselBg.jpg");

  .carousel-control-prev, .carousel-control-next{
    top: 89%;
    width: 5%;
  }
  
  .carousel-indicators{
    li{
      width: 10px;
      height: 9px;
      border-radius: 100%;
      border: 1px solid #454141;
    }
    .active{
      background-color: #E78A00;
    }
  }
  .carousel-control-prev{
    left: 12%;
  }
  .carousel-control-next{
    left: 17%;
  }
  .carousel-control-next-icon{
    background-image: url("../../images/svgs/arrow-left.svg") !important;
    width: 40px;
    height: 40px;
  }
  
  .carousel-control-prev-icon{
    background-image: url("../../images/svgs/arrow-right.svg") !important;
    width: 40px;
    height: 40px;
  }
  .number-footer{
    position: relative;
    bottom: 20px;
  }
}